<!-- Aside bar -->
<nav class="navbar" [class.navbar-show]="navbarShow">
	<button class="navbar-menu" (click)="toggleNavbar()" mat-icon-button>
	<mat-icon aria-label="Toggle menu">menu</mat-icon>
	</button>
	<h1 class="navbar-brand"><a href="/home">{{title}}</a></h1>
	<div class="navbar-icons">
		<a mat-icon-button matTooltip="add new record" matTooltipPosition="right">
			<mat-icon aria-label="Calculate new Record">add</mat-icon>
		</a>
		<a mat-icon-button matTooltip="Tips About how to Consome less Power" matTooltipPosition="right">
			<mat-icon aria-label="Calculate new Record">import_contacts</mat-icon>
		</a>
		<a mat-icon-button matTooltip="Dahboard" href="/dashboard" matTooltipPosition="right">
			<mat-icon aria-label="Calculate new Record">equalizer</mat-icon>
		</a>
	</div>
	<button class="navbar-help" (click)="toggleNavbar()" mat-icon-button matTooltip="How To Use This App"
	matTooltipPosition="right">
	<mat-icon aria-label="Toggle menu">help</mat-icon>
	</button>
</nav>
<!-- router outlet here -->

<main>
	<router-outlet></router-outlet>
</main>