<div class="home-container">

  <div class="home-column">
    <h1 class="home-title">ELECTRICTY BILL</h1>
    <p class="home-description">A WEB APPLICATION TO CALCULATE YOUR CONSOMATION OF ELECTRICTY IN </p>
    <button mat-raised-button class="home-button" href="/#">View Guid</button>

  </div>

  <div class="home-column">
    <span class="home-map--title">MAP</span>
    <ul class="home-map">
      <li> <a href="#">Conseils</a> </li>
      <li><a href="">Consomation Tarifs</a></li>
      <li><a href="#">History & Dashboard</a> </li>
      <li><a href="/calculator">Calculate</a> </li>
      <li><a href="#"> Help & About</a></li>
      <li><a href="#">Download App</a> </li>
    </ul>
  </div>

</div>
